body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1e2a2f;
  font-family: Arial, sans-serif;
}

.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 60vh;
  height: 60vh;
  margin: 0 auto;
  background-color: #34495e;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: #ecf0f1;
}

.message-list {
  flex-grow: 1;
  background-color: #2c3e50;
  border-radius: 10px;
  padding: 15px;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-message {
  padding: 10px;
  border-radius: 10px;
  position: relative;
  max-width: 80%;
}

.chatgpt-message {
  background-color: #ecf0f1;
  color: #2c3e50;
  align-self: flex-start;
  text-align: left;
}

.user-message {
  background-color: #1abc9c;
  color: white;
  align-self: flex-end;
  text-align: right;
}

.chat-user {
  font-weight: bold;
  display: block;
}

.chat-text {
  display: block;
  margin-top: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  background-color: #34495e;
  border-radius: 10px;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1abc9c;
  background-color: #2c3e50;
  color: white;
}

.send-btn {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #138971;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-btn:hover {
  background-color: #107460;
}

.end-session-btn {
  background-color: #4b6a88;
  margin-bottom: 10px;
  max-width: fit-content;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.end-session-btn:hover {
  background-color: #46617c;
}
